var toFixed = function (value) {
  return value.toFixed(2);
}

var status = function (value) {
  switch (value) {
    case '1':
      return '待付款'
    case '2':
      return '已取消'
    case '4':
      return '等待发货'
    case '6':
      return '已作废'
    case '7':
      return '部分发货'
    case '8':
      return '已发货'
    case '9':
      return '已收货'
    case '10':
      return '已完成'
    default:
      break;
  }
}

module.exports = {
  toFixed: toFixed,
  status: status,
};
